
body {
  background-color: black;
}

h1 {
text-align: center;
color: white;
font-family: 'Play', sans-serif;
font-size: 55px;

}

.fade-in {
  animation: fadeIn 9s;

}

@keyframes fadeIn {
  from {opacity:0;
  }

  to {
    opacity: 1;
  }
}

.hexagon {
  position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon:hover {
  transition: 0s;
  background: white/*#0f0*/;
}

.hexagon:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  pointer-events: none;
  background: rgba(255, 255, 255, 0.02);
}

.row {
  display: inline-flex;
  margin-top: 2px;
  margin-left: 40px;
}

.hexagon1 {
 position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon1:hover {
  transition: 0s;
  background:blue;
}

.hexagon2 {
 position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon2:hover {
  transition: 0s;
  background:red;
}

.hexagon3 {
 position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon3:hover {
  transition: 0s;
  background: purple;
}

.hexagon4 {
 position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon4:hover {
  transition: 0s;
  background: yellow;
}

.hexagon5 {
 position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon5:hover {
  transition: 0s;
  background: #49fb35;
}

.hexagon6 {
 position: relative;
  width: 150px;
  height: 160px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
}

.hexagon6:hover {
  transition: 0s;
  background: orange;
}

p {
  color: white;
  margin-left: 150px;
  margin-right: 150px;
  border: 50px;
  font-size: 16px;
  padding-right: 50px; 
  padding-left: 50px;
  padding-top: 30px;
  font-family: 'Krub', sans-serif;
  line-height: 30px;
  text-indent: 50px;
}

a { 
  text-decoration: none;
  color: black; }

#button-container {

  text-align: center;
}

button {
  background-color: white;
  text-align: center; 
  border-radius:10px;
  border: 15px blue;
  font-size: 20px;
  padding: 8px;
  width: 100px;
  left: 630px;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 60px;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

button:hover {
  background-color: yellow;
}


@media only screen and (max-width:620px) {

  .hexagon {
  position: relative;
  width: 100px;
  height: 110px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;
  }

  .hexagon1 {
    position: relative;
  width: 100px;
  height: 110px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  }

  .hexagon2 {
    position: relative;
  width: 100px;
  height: 110px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  }

  .hexagon3 {
    position: relative;
  width: 100px;
  height: 110px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  }

  .hexagon4 {
    position: relative;
  width: 100px;
  height: 110px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  }

  .hexagon5 {
    position: relative;
  width: 100px;
  height: 110px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  }

  .hexagon6 {
    position: relative;
  width: 100px;
  height: 100px;
  background: black;
  margin: 1px;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  transition: 2s;

  }

   .row {
  display:flex;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: center;
  }

p {
  color: white;
  margin-left: 30px;
  margin-right: 30px;
  border: 50px;
  font-size: 14px;
  padding-right: 30px; 
  padding-left: 30px;
  padding-top: 30px;
  font-family: 'Krub', sans-serif;
  line-height: 30px;
}

h1 {
font-size: 40px;

}

#button-container {

  text-align: center;
}

button {
  background-color: white;
  text-align: center; 
  border-radius:10px;
  border: 15px blue;
  font-size: 20px;
  padding: 2px;
  width: 100px;
  left: 630px;
  text-decoration: none;
  margin-top: 50px;
  margin-bottom: 60px;
}





